<p>courses works!</p>
<h2>{{ title }}</h2>  <!-- this is called data binding. If this value changes, it will be automatically updated in the view  -->
<!-- Angular binds the data (to the DOM element) for string interpolation -->
<h3>{{ "Title " + title}}</h3>
<h3>{{ getTitle() }}</h3> <!-- This syntax is called string interpolation -->

<!-- DOM vs HTML -->
<!-- DOM is the structure. HTML is what is used to represent it in text -->
<!-- for most cases, the DOM property has a one on one mapping with an HTML attribute -->
<!-- a few exceptions are  -->